[build]
builder = "NIXPACKS"

[deploy]
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[services.variables]
PYTHON_VERSION = "3.11"
DJANGO_SETTINGS_MODULE = "config.settings"
